PORT=3000
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/transfera?retryWrites=true&w=majority
ALLOWED_ORIGINS=http://localhost:5173
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d
SPORTMONKS_API_TOKEN=your_sportmonks_api_token_here
SPORTMONKS_BASE_URL=https://api.sportmonks.com/v3/football
SPORTMONKS_TIMEOUT=15000 
